.Camera {
    position: relative;
}

.Camera-video {
    max-width: 100%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transform: rotateY(180deg);
}

.Camera-reticle-box {
    position: absolute;
    width: 80px;
    height: 80px;

    top: 50%;
    left: 50%;
    
    background-color: black;
    border-radius: 8px;
    opacity: 0.5;
}

.snap-button {
    position: absolute !important;
    left: 50%;
    bottom: -50px;
    transform: translateX(-50%);
}

.offset-1 {
    transform: translate(-250%, -250%);
}

.offset-2 {
    transform: translate(-250%, -50%);
}

.offset-3 {
    transform: translate(-250%, 150%);
}

.offset-4 {
    transform: translate(-50%, -250%);
}

.offset-5 {
    transform: translate(-50%, -50%);
}

.offset-6 {
    transform: translate(-50%, 150%);
}

.offset-7 {
    transform: translate(150%, -250%);
}

.offset-8 {
    transform: translate(150%, -50%);
}

.offset-9 {
    transform: translate(150%, 150%);
}

.r {
    background-color: red;
}

.g {
    background-color: green;
}

.b {
    background-color: blue;
}

.o {
    background-color: orange;
}

.y {
    background-color: yellow;
}

.w {
    background-color: white;
}
